p {
font-family:-apple-system, BlinkMacSystemFont, sans-serif;
}
body{
  background: url('https://cdn.glitch.global/c08e1ea7-a387-4cf7-94ae-f455332d9dba/thumbnails%2FEvening%20Sunshine%20(1).jpg?1683211238128');
 margin: 0;
}
